.text-5xl{
    font-size:60px;
}

.test{
    background: red;
}


.min-h-fit{
    height: fit-content;
}

.rounded-full{
    border-radius: 24%;
}

.rounded-20{
    border-radius: 15%;
}
.rounded-10{
    border-radius: 10%;
}


.font-bold{
    font-weight: bold;
}

.text-gray{
    color: rgb(58, 56, 56);
}

.rounded{
    border-radius: 50%;
}


.flex
{
    display: flex;
    justify-content: center;
}

.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}

.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-around {
  justify-content: space-around;
}

.align-items-start {
  align-items: flex-start;
}
.align-items-end {
  align-items: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-baseline {
  align-items: baseline;
}
.align-items-stretch {
  align-items: stretch;
}

.align-content-start {
  align-content: flex-start;
}
.align-content-end {
  align-content: flex-end;
}
.align-content-center {
  align-content: center;
}
.align-content-between {
  align-content: space-between;
}
.align-content-around {
  align-content: space-around;
}
.align-content-stretch {
  align-content: stretch;
}





.footer {
    background-color: rgb(129, 123, 123);
    width: 100vw;
    height: 50px;
    border-top-left-radius: 30%;
    border-top-right-radius: 18%;
    padding: 5px;

}


.bg-hover:hover{
    background-color:rgb(6, 189, 6) ;
}

.text-test{
    color: rgb(129, 123, 123);
}

.text-test{
    color: rgb(241, 239, 239);
}


.description{
    margin-top: -18px;
}

.object-cover
{
    object-fit: cover;
}

.h-full
{
    height: 100%;
}

.li
{
    line-height: 23px;
    margin-top: -50px;
    



}


.ligne{
    line-height: 23px;
}


.overflow-x-hidden{

    overflow-x: hidden;
}

.anime-come
{
    animation: come 3s ease-out 1s 1 forwards ;
}


@keyframes come {
    0%{
        opacity: 0.1;
        transform: translateX(30px)
    }

    50%{
        opacity: 0.5;
        transform: translate(-20px);

    }

    100%{
        opacity: 1;
        transform: translate(0px)

    }
}

.opacity-0
{
    opacity: 0;
}


.mt-10
{
    margin-top: 50px;
}

.w-full{
    width: 100%;
}

.text-wrap{
    word-wrap: break-word;
}

.-mt-10{
    margin-top: -40px;
}

.mt-10{
    margin-top: 50px;
}